{% extends 'base.html' %}

{% block titulo %}Editando contato.{% endblock %}

{% block conteudo %}


<main class="container">
    <div class="bg-light p-5 rounded">
      <div class="text-center">
        <h1>Editando contato</h1>
        <br>
      </div>
        <form action="{% url 'edit_contato' id %}" method="post" enctype="multipart/form-data" >
          {% include 'parciais/_messages.html' %}
          {% csrf_token %}
            <table class="table">
              {{form}}
              <tr>
                <td colspan="2">
                  <button type="submit" value="submit" class="btn btn-primary btn-block mb-4" >Enviar</button>
                </td>
              </tr>
            </table>
        </form>
  </div>
  </main>

  {% endblock %}